<html>

<head>
    <title>Central Ankara</title>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    
</head>

<body>

    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item"><i class="beer icon"></i>Central</div>
            <a href="/" class="item">Panel</a>
            <a href="/beers/new" class="item">Yeni Bira Ekle</a>
            <a href="/priceList" target="_blank" class="item">Fiyat Listesi</a>
            <div class="right menu">
                <% if(!currentUser) { %>
                    <a class="ui item" href="/login">
                    Kullanıcı Girişi
                    </a>
                <% } else { %>
                    <a class="ui item" href="#">Kullanıcı : <%= currentUser.username %></a>
                    <a class="ui item" href="/logout">
                        Oturumu Kapat
                    </a>
                <% } %>
              </div>
        </div>

    </div>