
<h1>Yeni Kullanıcı Oluştur</h1>
<form action="/register" method="POST">
    <input type="text" name="username" placeholder="Kullanıcı Adı">
    <input type="password" name="password" placeholder="Şifre">
    <button>OLUŞTUR</button>
</form>
